@import 'tailwindcss';
@import 'zvijude/styles/main.css';
@config "../tailwind.config.ts";

@theme {
  --color-solid: #3f20f5;
  --color-dark: #232032;
  --color-soft: #d6d1f6;
  --color-softy: #f3f2ff;
  --color-soft-green: #6eabb4;
  --color-solid-green: #298290;
}

body {
  @apply p-8;
}
